<header>
    <a href="/app" class="no_underline inline material-icons">home</a>
    <a href="/range" class="no_underline inline material-icons">date_range</a>
    Taxly
    <a href="/settings" class="no_underline inline material-icons">settings</a>
    <a href="/auth/logout" class="no_underline inline material-icons">power_settings_new</a>
</header>